@import url(http://fonts.googleapis.com/css?family=Roboto);

@primary: #3F51B5;
@secondary: #E91E63;
@silver: #f5f5f5;
@red: #d75c37;
@light: #fff;

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;

  &:focus {
    outline: 0; //remove default outline in Chrome
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background: @light;
}

h1, h2 {
  font-weight: lighter;
}

.clear {
  width: 0;
  height: 0;
  display: block;
  clear: both;
}

.header {
  width: 100%;
  height: 50px;
  background: @primary;
  margin: -50px 0 0;
  z-index: 10;
  position: relative;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  padding-right: @sidebarWidth;

  h1 {
    height: 50px;
    line-height: 50px;
    display: block;
    padding: 0 20px;
    font-size: 1.5em;
    color: white;
    float: left;
  }

  ul.menu {
    list-style-type: none;
    display: block;
    float: left;
    clear: none;
    padding: 0;
    margin: 0;
    height: 50px;
    line-height: 50px;

    li {
      color: white;
      font-size: 1.1em;
      padding: 0 15px;
      height: 50px;
      display: block;
      float: left;
      font-weight: lighter;
      cursor: pointer;
    }
  }

  li.active {
    border-bottom: 3px solid @secondary;
  }

  .button.right {
    height: 50px;
    width: 50px;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    float: right;
    background: transparent;
    box-shadow: none;

    &:active {
      background: lighten(@primary, 20%);
    }
  }
}

.ctn {
  padding: 50px 0 0;
  height: 100%;
  width: 100%;
}

@sidebarWidth: 400px;

#canvas {
  height: 100%;
  width: ~"calc(100% - @{sidebarWidth})";
}

.sidebar {
  height: 100%;
  width: @sidebarWidth;
  position: fixed;
  top: 0;
  right: 0;
  padding: 60px 20px 20px;
  background: rgba(0, 0, 0, 0.1);
  z-index: 11;
  box-shadow: inset 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);

  .group {
    margin: 0 0 20px;
    clear: both;
    background: white;
    padding: 10px 10px 0;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);

    &.hidden {
      box-shadow: none;
      background: transparent;
      padding: 0;
      margin: 0 0 10px; //+ 10px from last ui element = 20px
    }
  }

  .ctn {
    margin: 10px 0 0;
    padding: 0;
    height: auto;
  }

  h1 {
    color: @primary;
    font-size: 1.1em;
    margin: 0;
    display: block;
    padding: 0;
  }

  input, select {
    background: @silver;
    border: 1px solid darken(@silver, 20%);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset;
    border-radius: 3px;
    padding: 5px;
    outline: 0;
    margin: 0 0 10px;
    float: left;
    font-size: 0.9em;

    &:hover {
      border: 1px solid darken(@silver, 30%);
      background: darken(@silver, 5%);
    }

    &:active {
      border: 1px solid darken(@silver, 25%);
    }
  }

  button, a.button {
    &.w50 {
      margin: 0 0 10px;
      width: ~"calc(50% - 5px)";
      float: left;
      clear: none;
    }

    &.w100 {
      clear: both;
      width: 100%;
      margin: 0 0 10px;
    }

    &.h25 {
      height: 25px;
      padding: 0 5px;
    }

    &.h50 {
      height: 50px;
    }

    &.h100 {
      height: 110px;
    }

    &.r {
      float: right;
    }

    &.c {
      float: none;
      margin: 0 auto 10px;
    }
  }

  a.button {
    text-decoration: none;
    display: block;
    text-align: center;

    &.h25 {
      line-height: 25px;
    }

    &.h50 {
      line-height: 50px;
    }
  }

  label {
    clear: left;
    float: left;
    width: ~"calc(50% - 5px)";
    margin: 0 5px 0 0;
    display: block;
    font-size: 0.9em;
    color: @primary;
    padding: 6px 0;

    &:after {
      content: ':';
    }
  }

  input, select {
    clear: right;
    float: left;
    width: 50%;
    display: block;
    margin: 0 0 10px;
    font-size: 0.9em;
  }
}

button, a.button {
  height: 30px;
  border-radius: 2px;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  padding: 0 20px;
  margin: 0 0 0 10px;
  font-size: 11pt;
  cursor: pointer;
  border: none;
  display: block;
  background: #fff;
  color: black;
  text-transform: uppercase;

  &:hover {
    background: #fff;
  }

  &:active {
    background: darken(white, 40%)
  }

  &.primary {
    background: @primary;
    color: white;

    &:hover {
      background: @primary;
    }

    &:active {
      background: lighten(@primary, 20%)
    }
  }

  &.secondary {
    background: @secondary;
    color: white;

    &:hover {
      background: @secondary;
    }

    &:active {
      background: lighten(@secondary, 20%)
    }
  }

  &.flat {
    color: @primary;
    box-shadow: none;
    background: transparent;
    margin: 0 4px;
    padding: 0 8px;

    &:active {
      background: rgba(red(@primary), green(@primary), blue(@primary), 0.3);
    }

    &.secondary {
      color: @secondary;
      background: transparent;

      &:active {
        background: rgba(red(@secondary), green(@secondary), blue(@secondary), 0.3);
      }
    }
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 42;
  background: rgba(0, 0, 0, 0.6);

  .window {
    width: 61.8%; //Golden ratio
    max-height: 80%;
    overflow: auto;
    margin: 100px auto 0;
    background: white;
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);
    padding: 24px;

    h1 {
      color: @primary;
      font-size: 18pt;
      padding: 0;
      margin: 0 0 10px;
    }

    h2 {
      color: @primary;
      font-size: 16pt;
      padding: 0;
      margin: 0 0 10px;
    }

    p {
      margin: 0 0 20px;
    }

    .center {
      margin: 0 auto;
    }

    .preview {
      width: 50%;
      height: 60vh;
      background: no-repeat center center;
      background-size: contain;
      border: 1px solid @silver;
    }

    .pagesel {
      margin: 5px auto 0;
      text-align: center;

      input[type="number"] {
        width: 30px;
        font-size: 12pt;
        margin: 0;
        padding: 0;
        font-family: "Ubuntu", sans-serif;
        border: none;
        background: transparent;
      }
    }

    .buttons {
      margin: 16px -8px -10px;
      height: 30px;
      clear: both;

      button {
        float: right;
      }
    }
  }
}

table.values {
  margin: 0 0 10px;

  th {
    line-height: 20px;
    height: 20px;
    padding: 0;
    margin: 0;

    img {
      vertical-align: top;
      cursor: pointer;
    }
  }
}